*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
    font-size: 72px;
    text-align: center;
    border: solid red 5px;
    color: red;
    animation: blinker 1s linear infinite;
    width: 100%;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

h2{
  text-align: center;
  font-size: 45px;
  color: darkblue;
  text-decoration: underline;
  margin-top: 30px;
}


ul li{
  text-align: center;
  list-style: none;
  line-height: 1.5;
  font-size: 35px;
}

ul li a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.upper-div{
  height: 300px;
  display: flex;

}

.disclaimer{
  height: 50%;
  width: 600px;
  margin: auto;
}

.disclaimer h4{
  text-align: center;
  text-transform: uppercase;
}

.disclaimer p{
  padding: 10px;
  text-align: center;
  line-height: 1.3;
}

.disclaimer .me{
  margin-top: -15px;
}

.disclaimer .me li p{
  text-align: left;
  font-size: 17px;
  line-height: 1.5;
}